<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <form [formGroup]="registerForm" class="text-center" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-12 col-md-6">
            <label class="sr-only" for="from">EUR</label>
            <input type="text" id="from" formControlName="from" class="form-control" placeholder="EUR">
          </div>
          <div class="col-12 col-md-6">
            <label class="sr-only" for="to">USD</label>
            <input type="text" id="to" class="form-control" placeholder="USD" disabled>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg mt-4">Calculate</button>
      </form>
    </div>
  </div>
